<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zspt.app.modulemain">

    <application android:theme="@style/Base.AppTheme">
        <activity
            android:name=".splash.SplashActivity"
            android:theme="@style/Base.AppTheme.SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".launcher.LauncherActivity" />
        <activity android:name=".a_guide.GuideActivity"></activity>
    </application>

</manifest>